<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
    <select>
    {% for type in liste %}
        <option class="form-control">{{ type.type}}</option>
        {# <option>{{ form_widget(type.type, { 'attr': {'class': 'form-control'} }) }}</option> #}

    {% endfor %}
    </select>
    <ul class="uk-list uk-list-bullet">

       {% for value in liste %}
        <li>{{ value.type }}</li>
        {% endfor %}

    </ul>
</body>
</html>